@keyframes fast {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  padding: 0;
}

.clock {
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.clock i {
  display: block;
  width: 2px;
  height: 10px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 250px;
  transform-origin: 1px 250px;
}
.clock i:nth-child(1) {
  transform: rotate(30deg);
}
.clock i:nth-child(2) {
  transform: rotate(60deg);
}
.clock i:nth-child(3) {
  background-color: transparent;
  transform: rotate(90deg);
}
.clock i:nth-child(3) span {
  display: block;
  font-size: 25px;
}
.clock i:nth-child(3) span {
  transform: rotate(-90deg);
}
.clock i:nth-child(4) {
  transform: rotate(120deg);
}
.clock i:nth-child(5) {
  transform: rotate(150deg);
}
.clock i:nth-child(6) {
  background-color: transparent;
  transform: rotate(180deg);
}
.clock i:nth-child(6) span {
  display: block;
  font-size: 25px;
}
.clock i:nth-child(6) span {
  transform: rotate(180deg);
}
.clock i:nth-child(7) {
  transform: rotate(210deg);
}
.clock i:nth-child(8) {
  transform: rotate(240deg);
}
.clock i:nth-child(9) {
  background-color: transparent;
  transform: rotate(270deg);
}
.clock i:nth-child(9) span {
  display: block;
  font-size: 25px;
}
.clock i:nth-child(9) span {
  transform: rotate(90deg);
}
.clock i:nth-child(10) {
  transform: rotate(300deg);
}
.clock i:nth-child(11) {
  transform: rotate(330deg);
}
.clock i:nth-child(12) {
  background-color: transparent;
  transform: rotate(360deg);
}
.clock i:nth-child(12) span {
  display: block;
  font-size: 25px;
}
.clock .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}
.clock .second,
.clock .minute,
.clock .hour {
  width: 6px;
  height: 90px;
  background: #000;
  position: absolute;
  left: 248px;
  top: 250px;
  transform-origin: center top;
  border-radius: 0 0 50% 50%;
  animation: fast 43200s linear infinite;
}
.clock .minute {
  width: 5px;
  height: 120px;
  background: #00ff00;
  transform-origin: center top;
  border-radius: 0 0 50% 50%;
  transition: transform 1s linear;
  animation: fast 3600s linear  infinite;
}
.clock .second {
  width: 3px;
  height: 160px;
  background: #0ff;
  transform-origin: center top;
  border-radius: 0 0 50% 50%;
  transition: transform 1s linear;
  animation: fast 60s linear  infinite;
}
