 @keyframes fast{
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg);
            }
        }
body{
    margin: 0;
    padding: 0;
}
.clock{
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    
     i{
        display: block;
        width: 2px;
        height: 10px;
        background-color: #000;
        position: absolute;
        top: 0;
        left: 250px;
        transform-origin: 1px 250px;
        
        @for $i from 1 through 12{
            &:nth-child(#{$i}){
                @if($i % 3 == 0){
                    background-color: transparent;
                    span{
                          display: block;
                            font-size: 25px;
                    }
                    @if($i == 3){
                        span{
                          
                            transform: rotate(-90deg);
                        }
                    }@else if($i == 6)
                    {
                        span{
                            
                            transform: rotate(180deg);
                        }
                    }@else if($i == 9){
                        span{
                            
                            transform: rotate(90deg);
                        }
                    }
                }
                transform: rotate($i * 30deg);
            }
        }
     }
     .circle{
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #000;
          position: absolute;
          left: 0px;
          top: 0px;
          right: 0;
          bottom: 0;
          margin: auto;
          z-index: 1;
     }
     .second,
     .minute,
     .hour{
        width: 6px;
        height: 90px;
        background: #000;
        position: absolute;
        left: 248px;
        top: 250px;
        transform-origin: center top;
        border-radius:  0 0 50% 50%;
        animation: fast 43200s linear infinite;
    }
    .minute{
        width: 5px;
        height: 120px;
        background: #00ff00;
        transform-origin: center top;
        border-radius:  0 0 50% 50%;
        transition:transform 1s linear;
        animation: fast 3600s linear  infinite;
    }
    .second{
        width: 3px;
        height: 160px;
        background: #0ff;
        transform-origin: center top;
        border-radius:  0 0 50% 50%;
        transition:transform 1s linear;
        animation: fast 60s linear  infinite;
    }
     
}
 